---
import type { Article } from "@/types/article";

type Props = Article;
const { title, description, url } = Astro.props;
---

<li class="article-card">
  <a class="article-card__link" href={url}>
    <h3 class="article-card__title">{title}</h3>
    <p class="article-card__description">{description}</p>
  </a>
</li>

<style>
  .article-card {
    width: 100%;
    height: 100%;
  }

  .article-card__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--light-grey);
    color: var(--black);
    text-decoration: none;
    border-radius: 0.5rem;
  }

  .article-card__link:hover {
    background-color: var(--light-grey-hover);
  }

  .article-card__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .article-card__description {
    margin: 0;
    font-size: 1rem;
    line-height: initial;
  }

  body.dark .article-card__link {
    background-color: var(--dark-grey);
    color: var(--white);
  }

  body.dark .article-card__link:hover {
    background-color: var(--dark-grey-hover);
  }

  body.light .article-card__link {
    background-color: var(--light-grey);
    color: var(--black);
  }

  body.light .article-card__link:hover {
    background-color: var(--light-grey-hover);
  }
</style>
