<footer class="page-footer">
  <!-- TODO Add footer language props -->
  <span>
    Hecho con 💖 por <a
      class="page-footer__link"
      href="https://twitter.com/_SnowDrive_"
      target="_blank"
      rel="noopener noreferrer">@_snowdrive_</a
    >
  </span>
</footer>

<style>
  .page-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 2rem;
    font-size: 1rem;
    font-weight: bold;
  }

  .page-footer__link {
    display: inline;
  }
</style>
