---
interface Props {
  href: string;
  external?: boolean;
}

const { href, external } = Astro.props;
const rel = external ? "noopener noreferrer" : undefined;
const target = external ? "_blank" : undefined;
---

<a class="navbar__link" href={href} rel={rel} target={target}>
  <slot />
</a>

<style>
  .navbar__link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }

  body.dark .navbar__link,
  body.dark .navbar__link:visited {
    color: var(--navitem-dark);
  }

  body.dark .navbar__link:hover,
  body.dark .navbar__link:focus,
  body.dark .navbar__link:visited:hover,
  body.dark .navbar__link:visited:focus {
    color: var(--navitem-dark-hover);
  }

  body.light .navbar__link,
  body.light .navbar__link:visited {
    color: var(--navitem-light);
  }

  body.light .navbar__link:hover,
  body.light .navbar__link:focus,
  body.light .navbar__link:visited:hover,
  body.light .navbar__link:visited:focus {
    color: var(--navitem-light-hover);
  }
</style>
