---
import Navbar from "@/components/atoms/Navbar.astro";
import Navlink from "@/components/atoms/Navlink.astro";
import ThemeButton from '@/components/atoms/ThemeButton.astro';
import type { Link } from "@/types/link";

interface Props {
  title: string;
  links: Link[];
}

const { title, links } = Astro.props;
---

<header class="page-header">
  <h2 class="page-header__title">{title}</h2>
  <Navbar>
    {links.map(({ text, ...rest }) => <Navlink {...rest}>{text}</Navlink>)}
    <ThemeButton />
  </Navbar>
</header>

<style>
  .page-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
  }

  .page-header__title {
    font-size: 2rem;
  }
</style>
